<div *ngIf="hero">
    <h2>Details for: {{hero.name | uppercase}}</h2>
    <div><span><label>ID:</label></span>{{hero.id}}</div>
    <div>
      <label>Name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
    </div>
    <button (click)="goBack()">Go Back</button>
    <button (click)="save()">Save</button>
</div>