/* HeroDetailComponent's private CSS styles */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

label {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color:red;
  font-weight: bold;
  margin-bottom: 5px;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  border-radius: 10px;
  margin-top:10px; 
}
button {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
  color:red; 
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
